---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=API_KEY
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 8f5f25e2116c43738b112349bf445bf1
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aaaa","refresh_token":"11111","ims_user_id":1212,"token_type":"Bearer","expires_in":3600,"expiration":1600907485,"refresh_token_expiration":1603495885,"scope":"ibm
        openid"}'
  recorded_at: Wed, 23 Sep 2020 23:31:28 GMT
recorded_with: VCR 6.0.0
