---
http_interactions:
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/vpn_gateways?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 4aea18ae-e672-4e02-b01e-92312c04d664
    body:
      encoding: ASCII-8BIT
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/vpn_gateways?version=2020-08-01\u0026generation=2\u0026limit=50\u0026sort=-created_at"},"limit":50,"total_count":0,"vpn_gateways":[]}'
  recorded_at: Wed, 23 Sep 2020 22:32:52 GMT
recorded_with: VCR 6.0.0
