---
http_interactions:
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/flow_log_collectors?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/flow_log_collectors?limit=50"},"total_count":0,"flow_log_collectors":[]}

        '
  recorded_at: Wed, 23 Sep 2020 22:32:25 GMT
recorded_with: VCR 6.0.0
