---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=API_KEY
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - e4632fa0531f402c912e15777ae30ca4
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aaaa","refresh_token":"11111","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":1893456000,"scope":"ibm
        openid"}'
  recorded_at: Thu, 01 Oct 2020 23:33:26 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/flow_log_collectors?generation=2&version=2020-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/flow_log_collectors?limit=50"},"total_count":0,"flow_log_collectors":[]}

        '
  recorded_at: Thu, 01 Oct 2020 23:33:26 GMT
recorded_with: VCR 6.0.0
