---
http_interactions:
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instances?generation=2&version=3
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 24264574be7192b5
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"invalid_version","message":"The `version` parameter
        is invalid, it must be of the form `YYYY-MM-DD`.","target":{"name":"version","type":"parameter"}}],"trace":"02d5a411-638f-4ae1-98ee-a93361b79dba"}

        '
  recorded_at: Fri, 25 Sep 2020 21:50:03 GMT
recorded_with: VCR 6.0.0
