---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=API_KEY
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 975865ea2b7246a393b828eb68e700cb
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aaaa","refresh_token":"11111","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":1893456000,"scope":"ibm
        openid"}'
  recorded_at: Fri, 02 Oct 2020 00:04:06 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instances?generation=2&version=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 388b2b6de57472d4
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"invalid_version","message":"The `version` parameter
        is invalid, it must be of the form `YYYY-MM-DD`.","target":{"name":"version","type":"parameter"}}],"trace":"65a4ae7f-9f92-4130-b0d2-db4f1fee19ac"}

        '
  recorded_at: Fri, 02 Oct 2020 00:04:06 GMT
recorded_with: VCR 6.0.0
