---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=asssfafaf
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 6c620cfc999e41b886061900aacb92b0
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":"BXNIM0415E","errorMessage":"Provided API key could not
        be found","context":{"requestId":"6c620cfc999e41b886061900aacb92b0","requestType":"incoming.Identity_Token","userAgent":"Ruby","url":"https://iam.cloud.ibm.com","instanceId":"iamid-5.9-8603-461329e-8db965548-d92d7","threadId":"20689e","host":"iamid-5.9-8603-461329e-8db965548-d92d7","startTime":"02.10.2020
        00:03:57:306 GMT","endTime":"02.10.2020 00:03:57:370 GMT","elapsedTime":"64","locale":"en_US","clusterName":"iam-id-predal13-5E53"},"access_token":"aaaa","refresh_token":"11111","ims_user_id":"22222","expiration":1893456000}'
  recorded_at: Fri, 02 Oct 2020 00:03:57 GMT
recorded_with: VCR 6.0.0
