---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=asssfafaf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 9b114822e90b4ae69413c74574c54b01
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":"BXNIM0415E","errorMessage":"Provided API key could not
        be found","context":{"requestId":"9b114822e90b4ae69413c74574c54b01","requestType":"incoming.Identity_Token","userAgent":"http.rb/4.4.1","url":"https://iam.cloud.ibm.com","instanceId":"iamid-5.9-8603-461329e-8db965548-tf5bc","threadId":"6a15e","host":"iamid-5.9-8603-461329e-8db965548-tf5bc","startTime":"25.09.2020
        21:06:06:735 GMT","endTime":"25.09.2020 21:06:06:801 GMT","elapsedTime":"66","locale":"en_US","clusterName":"iam-id-prdal12-8brn"}}'
  recorded_at: Fri, 25 Sep 2020 21:06:06 GMT
recorded_with: VCR 6.0.0
