---
http_interactions:
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/volume/profiles?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - d09dea0eb65a95e5ab4f91192ab4bc03
      X-Byok-Whitelist-Response:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles?limit=50"},"limit":50,"total_count":4,"profiles":[{"name":"10iops-tier","family":"tiered","href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles/10iops-tier"},{"name":"5iops-tier","family":"tiered","href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles/5iops-tier"},{"name":"custom","family":"custom","href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles/custom"},{"name":"general-purpose","family":"tiered","href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles/general-purpose"}]}'
  recorded_at: Wed, 23 Sep 2020 22:32:49 GMT
recorded_with: VCR 6.0.0
