---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=API_KEY
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 97095fbe1f1b42568dda446a25f13089
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aaaa","refresh_token":"11111","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":1893456000,"scope":"ibm
        openid"}'
  recorded_at: Thu, 01 Oct 2020 23:35:06 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/volume/profiles?generation=2&version=2020-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - 52308f4f23e2d516b2b93224d9a4e603
      X-Byok-Whitelist-Response:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles?limit=50"},"limit":50,"total_count":4,"profiles":[{"name":"10iops-tier","family":"tiered","href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles/10iops-tier"},{"name":"5iops-tier","family":"tiered","href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles/5iops-tier"},{"name":"custom","family":"custom","href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles/custom"},{"name":"general-purpose","family":"tiered","href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles/general-purpose"}]}'
  recorded_at: Thu, 01 Oct 2020 23:35:07 GMT
recorded_with: VCR 6.0.0
