---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=API_KEY
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 6b63990ea5d845a69e24730d4aaae609
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aaaa","refresh_token":"11111","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":1893456000,"scope":"ibm
        openid"}'
  recorded_at: Thu, 01 Oct 2020 23:34:17 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/load_balancers?generation=2&version=2020-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - f6ae1e19-18c4-4f27-8f1c-61c87aac0180
    body:
      encoding: UTF-8
      string: '{"load_balancers":[]}'
  recorded_at: Thu, 01 Oct 2020 23:34:17 GMT
recorded_with: VCR 6.0.0
