---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=API_KEY
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 29d58ecbb84442e298ffb157089b81bc
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aaaa","refresh_token":"11111","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":1893456000,"scope":"ibm
        openid"}'
  recorded_at: Thu, 01 Oct 2020 23:34:36 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/regions?generation=2&version=2020-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"regions":[{"name":"au-syd","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/au-syd","endpoint":"https://au-syd.iaas.cloud.ibm.com","status":"available"},{"name":"eu-de","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/eu-de","endpoint":"https://eu-de.iaas.cloud.ibm.com","status":"available"},{"name":"eu-gb","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/eu-gb","endpoint":"https://eu-gb.iaas.cloud.ibm.com","status":"available"},{"name":"jp-tok","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/jp-tok","endpoint":"https://jp-tok.iaas.cloud.ibm.com","status":"available"},{"name":"us-east","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east","endpoint":"https://us-east.iaas.cloud.ibm.com","status":"available"},{"name":"us-south","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-south","endpoint":"https://us-south.iaas.cloud.ibm.com","status":"available"}]}

        '
  recorded_at: Thu, 01 Oct 2020 23:34:38 GMT
recorded_with: VCR 6.0.0
