---
http_interactions:
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/regions?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"regions":[{"name":"au-syd","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/au-syd","endpoint":"https://au-syd.iaas.cloud.ibm.com","status":"available"},{"name":"eu-de","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/eu-de","endpoint":"https://eu-de.iaas.cloud.ibm.com","status":"available"},{"name":"eu-gb","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/eu-gb","endpoint":"https://eu-gb.iaas.cloud.ibm.com","status":"available"},{"name":"jp-tok","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/jp-tok","endpoint":"https://jp-tok.iaas.cloud.ibm.com","status":"available"},{"name":"us-east","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east","endpoint":"https://us-east.iaas.cloud.ibm.com","status":"available"},{"name":"us-south","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-south","endpoint":"https://us-south.iaas.cloud.ibm.com","status":"available"}]}

        '
  recorded_at: Wed, 23 Sep 2020 22:32:39 GMT
recorded_with: VCR 6.0.0
