---
http_interactions:
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/operating_systems?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - fd1869b9553d9dd93b488a7e6932713f
    body:
      encoding: UTF-8
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems?limit=50"},"limit":50,"operating_systems":[{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems/centos-7-amd64","name":"centos-7-amd64","architecture":"amd64","display_name":"CentOS
        7.x - Minimal Install (amd64)","family":"CentOS","vendor":"CentOS","version":"7.x
        - Minimal Install"},{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems/centos-8-amd64","name":"centos-8-amd64","architecture":"amd64","display_name":"CentOS
        8.x - Minimal Install (amd64)","family":"CentOS","vendor":"CentOS","version":"8.x
        - Minimal Install"},{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems/debian-10-amd64","name":"debian-10-amd64","architecture":"amd64","display_name":"Debian
        GNU/Linux 10.x Buster/Stable - Minima[...]
