---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=API_KEY
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - c084637b654d470c80a364c056b3b424
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aaaa","refresh_token":"11111","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":1893456000,"scope":"ibm
        openid"}'
  recorded_at: Thu, 01 Oct 2020 23:34:25 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/operating_systems?generation=2&version=2020-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - 3c647ea653b661272612a660374de838
    body:
      encoding: ASCII-8BIT
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems?limit=50"},"limit":50,"operating_systems":[{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems/centos-7-amd64","name":"centos-7-amd64","architecture":"amd64","display_name":"CentOS
        7.x - Minimal Install (amd64)","family":"CentOS","vendor":"CentOS","version":"7.x
        - Minimal Install"},{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems/centos-8-amd64","name":"centos-8-amd64","architecture":"amd64","display_name":"CentOS
        8.x - Minimal Install (amd64)","family":"CentOS","vendor":"CentOS","version":"8.x
        - Minimal Install"},{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems/debian-10-amd64","name":"debian-10-amd64","architecture":"amd64","display_name":"Debian
        GNU/Linux 10.x Buster/Stable - Minima[...]
