---
http_interactions:
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/subnets?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 231ce82395d31d04
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/subnets?limit=50"},"total_count":1,"subnets":[{"id":"0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::subnet:0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","name":"cloudformsvpc","resource_type":"subnet","available_ipv4_address_count":249,"ipv4_cidr_block":"127.0.0.0/24","ip_version":"ipv4","zone":{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3"},"vpc":{"id":"r014-7186c34c-67cc-4c07-aa40-326ecb895b53","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::vpc:r014-7186c34c-67cc-4c07-aa40-326ecb895b53","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-7186c34c-67cc-4c07-aa40-326ecb895b53","name":"cloudformvpx","resource_type":"vpc"},"status":"available","total_ipv4_address_count":256,"created_at":"2020-03-31T02:16:01Z","network_acl":{"id":"r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::network-acl:r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls/r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","name":"napped-pessimist-thing-revolving-graduate-punctuate"},"public_gateway":{"id":"r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::public-gateway:r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4","href":"https://us-east.iaas.cloud.ibm.com/v1/public_gateways/r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4","name":"pgw-91367280-72f5-11ea-9ebe-bbb9ec18e692"},"resource_group":{"id":"29b1dd25de2d40b5ae5bd5f719f30db8","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/29b1dd25de2d40b5ae5bd5f719f30db8","name":"camc-test"}}]}

        '
  recorded_at: Wed, 23 Sep 2020 22:32:44 GMT
[...]
