---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=API_KEY
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - '0118c201f36f46049e3591f937dfe45f'
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aaaa","refresh_token":"11111","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":1893456000,"refresh_token_expiration":1604697429,"scope":"ibm
        openid"}'
  recorded_at: Wed, 07 Oct 2020 21:17:12 GMT
- request:
    method: get
    uri: https://tags.global-search-tagging.cloud.ibm.com/v3/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Transaction-Id:
      - gst-db4acc19-e793-4768-81bd-63eb01bd5450
      X-Global-Transaction-Id:
      - gst-db4acc19-e793-4768-81bd-63eb01bd5450
      Ghost-Endpoint:
      - ibm:yp:us-south:Kubernetes
      Ghost-Instance:
      - Kubernetes_7c99464848-f5d57
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"200e-it1qcAIDnop54RNguXAI8/jWeO8"
    body:
      encoding: UTF-8
      string: '{"total_count":357,"offset":0,"limit":100,"items":[{"name":"bootie"},{"name":"cam42"},{"name":"cam42onroks311"},{"name":"cam42onroks43"},{"name":"cp4mcm-mcmp"},{"name":"dba"},{"name":"env:cam4201"},{"name":"env:camsvt"},{"name":"env:camsvt-ocp311"},{"name":"env:test
        mytag:mytagval"},{"name":"environment: dev"},{"name":"environment: test"},{"name":"ibm-kubernetes-service"},{"name":"job_activity_identifier:
        00571a60-b0e1-11ea-a2d4-679d451ec2a7_1virtualf677d831"},{"name":"job_activity_identifier:
        009f4d60-ab43-11ea-9aa2-4b5cd0f030f2_1virtualf677d831"},{"name":"job_activity_identifier:
        08930030-b9a7-11ea-a33a-d1c18090aa6e_1virtualf677d831"},{"name":"job_activity_identifier:
        0dea49f0-acf3-11ea-b104-31f290444601_1virtualf677d831"},{"name[...]
