---
http_interactions:
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/public_gateways?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 3e4321710c6711c4
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/public_gateways?limit=50"},"total_count":1,"public_gateways":[{"id":"r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::public-gateway:r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4","href":"https://us-east.iaas.cloud.ibm.com/v1/public_gateways/r014-1bdb4895-dd7d-4b15-a172-3d82c13428d4","name":"pgw-91367280-72f5-11ea-9ebe-bbb9ec18e692","resource_type":"public_gateway","created_at":"2020-03-31T02:16:02Z","zone":{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3"},"vpc":{"id":"r014-7186c34c-67cc-4c07-aa40-326ecb895b53","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::vpc:r014-7186c34c-67cc-4c07-aa40-326ecb895b53","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-7186c34c-67cc-4c07-aa40-326ecb895b53","name":"cloudformvpx","resource_type":"vpc"},"floating_ip":{"id":"r014-77e8e1e8-762e-43dd-8500-0a71e8fa8238","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::floating-ip:r014-77e8e1e8-762e-43dd-8500-0a71e8fa8238","href":"https://us-east.iaas.cloud.ibm.com/v1/floating_ips/r014-77e8e1e8-762e-43dd-8500-0a71e8fa8238","address":"127.0.0.14","name":"pgw-91367280-72f5-11ea-9ebe-bbb9ec18e692"},"resource_group":{"id":"29b1dd25de2d40b5ae5bd5f719f30db8","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/29b1dd25de2d40b5ae5bd5f719f30db8","name":"camc-test"},"status":"available"}]}

        '
  recorded_at: Wed, 23 Sep 2020 22:32:35 GMT
[...]
