---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=API_KEY
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 984cae170cfa4adeb94b792de26eb127
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aaaa","refresh_token":"11111","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":1893456000,"scope":"ibm
        openid"}'
  recorded_at: Thu, 01 Oct 2020 23:33:55 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instance/profiles?generation=2&version=2020-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 1932210a302ddf99
    body:
      encoding: ASCII-8BIT
      string: '{"profiles":[{"name":"bx2-2x8","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-2x8","bandwidth":{"type":"fixed","value":4000},"port_speed":{"type":"fixed","value":16000},"memory":{"type":"fixed","value":8},"os_architecture":{"type":"enum","default":"amd64","values":["amd64"]},"vcpu_architecture":{"type":"fixed","value":"amd64"},"vcpu_count":{"type":"fixed","value":2},"family":"balanced"},{"name":"bx2-4x16","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-4x16","bandwidth":{"type":"fixed","value":8000},"port_speed":{"type":"fixed","value":16000},"memory":{"type":"fixed","value":16},"os_architecture":{"type":"enum","default":"amd64","values":["amd64"]},"vcpu_architecture":{"type":"fixed","value":"amd64"},"vcpu_count":{"type":"fixed","value":4},"family":"balanced"},{"name":"bx2-8x32","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-[...]
