---
http_interactions:
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instance/profiles?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 7508dae2077a01a3
    body:
      encoding: UTF-8
      string: '{"profiles":[{"name":"bx2-2x8","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-2x8","bandwidth":{"type":"fixed","value":4000},"port_speed":{"type":"fixed","value":16000},"memory":{"type":"fixed","value":8},"os_architecture":{"type":"enum","default":"amd64","values":["amd64"]},"vcpu_architecture":{"type":"fixed","value":"amd64"},"vcpu_count":{"type":"fixed","value":2},"family":"balanced"},{"name":"bx2-4x16","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-4x16","bandwidth":{"type":"fixed","value":8000},"port_speed":{"type":"fixed","value":16000},"memory":{"type":"fixed","value":16},"os_architecture":{"type":"enum","default":"amd64","values":["amd64"]},"vcpu_architecture":{"type":"fixed","value":"amd64"},"vcpu_count":{"type":"fixed","value":4},"family":"balanced"},{"name":"bx2-8x32","href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/bx2-[...]
