=begin
#Power Cloud API

#IBM Power Cloud API for Power Hardware / Infrastructure

The version of the OpenAPI document: 1.0.0
Contact: kylej@us.ibm.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module IbmCloudPower
  class PCloudSPPPlacementGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a Shared Processor Pool Placement Group from a cloud instance
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param spp_placement_group_id [String] Shared Processor Pool Placement Group ID or Name
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def pcloud_sppplacementgroups_delete(cloud_instance_id, spp_placement_group_id, opts = {})
      data, _status_code, _headers = pcloud_sppplacementgroups_delete_with_http_info(cloud_instance_id, spp_placement_group_id, opts)
      data
    end

    # Delete a Shared Processor Pool Placement Group from a cloud instance
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param spp_placement_group_id [String] Shared Processor Pool Placement Group ID or Name
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def pcloud_sppplacementgroups_delete_with_http_info(cloud_instance_id, spp_placement_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_delete ...'
      end
      # verify the required parameter 'cloud_instance_id' is set
      if @api_client.config.client_side_validation && cloud_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_instance_id' when calling PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_delete"
      end
      # verify the required parameter 'spp_placement_group_id' is set
      if @api_client.config.client_side_validation && spp_placement_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'spp_placement_group_id' when calling PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_delete"
      end
      # resource path
      local_var_path = '/pcloud/v1/cloud-instances/{cloud_instance_id}/spp-placement-groups/{spp_placement_group_id}'.sub('{' + 'cloud_instance_id' + '}', CGI.escape(cloud_instance_id.to_s)).sub('{' + 'spp_placement_group_id' + '}', CGI.escape(spp_placement_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudSPPPlacementGroupsApi#pcloud_sppplacementgroups_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the detail of a Shared Processor Pool Placement Group for a cloud instance
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param spp_placement_group_id [String] Shared Processor Pool Placement Group ID or Name
    # @param [Hash] opts the optional parameters
    # @return [SPPPlacementGroup]
    def pcloud_sppplacementgroups_get(cloud_instance_id, spp_placement_group_id, opts = {})
      data, _status_code, _headers = pcloud_sppplacementgroups_get_with_http_info(cloud_instance_id, spp_placement_group_id, opts)
      data
    end

    # Get the detail of a Shared Processor Pool Placement Group for a cloud instance
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param spp_placement_group_id [String] Shared Processor Pool Placement Group ID or Name
    # @param [Hash] opts the optional parameters
    # @return [Array<(SPPPlacementGroup, Integer, Hash)>] SPPPlacementGroup data, response status code and response headers
    def pcloud_sppplacementgroups_get_with_http_info(cloud_instance_id, spp_placement_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_get ...'
      end
      # verify the required parameter 'cloud_instance_id' is set
      if @api_client.config.client_side_validation && cloud_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_instance_id' when calling PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_get"
      end
      # verify the required parameter 'spp_placement_group_id' is set
      if @api_client.config.client_side_validation && spp_placement_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'spp_placement_group_id' when calling PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_get"
      end
      # resource path
      local_var_path = '/pcloud/v1/cloud-instances/{cloud_instance_id}/spp-placement-groups/{spp_placement_group_id}'.sub('{' + 'cloud_instance_id' + '}', CGI.escape(cloud_instance_id.to_s)).sub('{' + 'spp_placement_group_id' + '}', CGI.escape(spp_placement_group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SPPPlacementGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudSPPPlacementGroupsApi#pcloud_sppplacementgroups_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the list of Shared Processor Pool Placement Groups for a cloud instance
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param [Hash] opts the optional parameters
    # @return [SPPPlacementGroups]
    def pcloud_sppplacementgroups_getall(cloud_instance_id, opts = {})
      data, _status_code, _headers = pcloud_sppplacementgroups_getall_with_http_info(cloud_instance_id, opts)
      data
    end

    # Get the list of Shared Processor Pool Placement Groups for a cloud instance
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param [Hash] opts the optional parameters
    # @return [Array<(SPPPlacementGroups, Integer, Hash)>] SPPPlacementGroups data, response status code and response headers
    def pcloud_sppplacementgroups_getall_with_http_info(cloud_instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_getall ...'
      end
      # verify the required parameter 'cloud_instance_id' is set
      if @api_client.config.client_side_validation && cloud_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_instance_id' when calling PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_getall"
      end
      # resource path
      local_var_path = '/pcloud/v1/cloud-instances/{cloud_instance_id}/spp-placement-groups'.sub('{' + 'cloud_instance_id' + '}', CGI.escape(cloud_instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SPPPlacementGroups'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_getall",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudSPPPlacementGroupsApi#pcloud_sppplacementgroups_getall\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Shared Processor Pool member from a Shared Processor Pool Placement Group
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param spp_placement_group_id [String] Shared Processor Pool Placement Group ID or Name
    # @param shared_processor_pool_id [String] Shared Processor Pool ID or Name
    # @param [Hash] opts the optional parameters
    # @return [SPPPlacementGroup]
    def pcloud_sppplacementgroups_members_delete(cloud_instance_id, spp_placement_group_id, shared_processor_pool_id, opts = {})
      data, _status_code, _headers = pcloud_sppplacementgroups_members_delete_with_http_info(cloud_instance_id, spp_placement_group_id, shared_processor_pool_id, opts)
      data
    end

    # Delete Shared Processor Pool member from a Shared Processor Pool Placement Group
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param spp_placement_group_id [String] Shared Processor Pool Placement Group ID or Name
    # @param shared_processor_pool_id [String] Shared Processor Pool ID or Name
    # @param [Hash] opts the optional parameters
    # @return [Array<(SPPPlacementGroup, Integer, Hash)>] SPPPlacementGroup data, response status code and response headers
    def pcloud_sppplacementgroups_members_delete_with_http_info(cloud_instance_id, spp_placement_group_id, shared_processor_pool_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_members_delete ...'
      end
      # verify the required parameter 'cloud_instance_id' is set
      if @api_client.config.client_side_validation && cloud_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_instance_id' when calling PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_members_delete"
      end
      # verify the required parameter 'spp_placement_group_id' is set
      if @api_client.config.client_side_validation && spp_placement_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'spp_placement_group_id' when calling PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_members_delete"
      end
      # verify the required parameter 'shared_processor_pool_id' is set
      if @api_client.config.client_side_validation && shared_processor_pool_id.nil?
        fail ArgumentError, "Missing the required parameter 'shared_processor_pool_id' when calling PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_members_delete"
      end
      # resource path
      local_var_path = '/pcloud/v1/cloud-instances/{cloud_instance_id}/spp-placement-groups/{spp_placement_group_id}/members/{shared_processor_pool_id}'.sub('{' + 'cloud_instance_id' + '}', CGI.escape(cloud_instance_id.to_s)).sub('{' + 'spp_placement_group_id' + '}', CGI.escape(spp_placement_group_id.to_s)).sub('{' + 'shared_processor_pool_id' + '}', CGI.escape(shared_processor_pool_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SPPPlacementGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_members_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudSPPPlacementGroupsApi#pcloud_sppplacementgroups_members_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add Shared Processor Pool as a member of a Shared Processor Pool Placement Group
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param spp_placement_group_id [String] Shared Processor Pool Placement Group ID or Name
    # @param shared_processor_pool_id [String] Shared Processor Pool ID or Name
    # @param [Hash] opts the optional parameters
    # @return [SPPPlacementGroup]
    def pcloud_sppplacementgroups_members_post(cloud_instance_id, spp_placement_group_id, shared_processor_pool_id, opts = {})
      data, _status_code, _headers = pcloud_sppplacementgroups_members_post_with_http_info(cloud_instance_id, spp_placement_group_id, shared_processor_pool_id, opts)
      data
    end

    # Add Shared Processor Pool as a member of a Shared Processor Pool Placement Group
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param spp_placement_group_id [String] Shared Processor Pool Placement Group ID or Name
    # @param shared_processor_pool_id [String] Shared Processor Pool ID or Name
    # @param [Hash] opts the optional parameters
    # @return [Array<(SPPPlacementGroup, Integer, Hash)>] SPPPlacementGroup data, response status code and response headers
    def pcloud_sppplacementgroups_members_post_with_http_info(cloud_instance_id, spp_placement_group_id, shared_processor_pool_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_members_post ...'
      end
      # verify the required parameter 'cloud_instance_id' is set
      if @api_client.config.client_side_validation && cloud_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_instance_id' when calling PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_members_post"
      end
      # verify the required parameter 'spp_placement_group_id' is set
      if @api_client.config.client_side_validation && spp_placement_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'spp_placement_group_id' when calling PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_members_post"
      end
      # verify the required parameter 'shared_processor_pool_id' is set
      if @api_client.config.client_side_validation && shared_processor_pool_id.nil?
        fail ArgumentError, "Missing the required parameter 'shared_processor_pool_id' when calling PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_members_post"
      end
      # resource path
      local_var_path = '/pcloud/v1/cloud-instances/{cloud_instance_id}/spp-placement-groups/{spp_placement_group_id}/members/{shared_processor_pool_id}'.sub('{' + 'cloud_instance_id' + '}', CGI.escape(cloud_instance_id.to_s)).sub('{' + 'spp_placement_group_id' + '}', CGI.escape(spp_placement_group_id.to_s)).sub('{' + 'shared_processor_pool_id' + '}', CGI.escape(shared_processor_pool_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SPPPlacementGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_members_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudSPPPlacementGroupsApi#pcloud_sppplacementgroups_members_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new Shared Processor Pool Placement Group
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param body [SPPPlacementGroupCreate] Parameters for the creation of a Shared Processor Pool Placement Group
    # @param [Hash] opts the optional parameters
    # @return [SPPPlacementGroup]
    def pcloud_sppplacementgroups_post(cloud_instance_id, body, opts = {})
      data, _status_code, _headers = pcloud_sppplacementgroups_post_with_http_info(cloud_instance_id, body, opts)
      data
    end

    # Create a new Shared Processor Pool Placement Group
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param body [SPPPlacementGroupCreate] Parameters for the creation of a Shared Processor Pool Placement Group
    # @param [Hash] opts the optional parameters
    # @return [Array<(SPPPlacementGroup, Integer, Hash)>] SPPPlacementGroup data, response status code and response headers
    def pcloud_sppplacementgroups_post_with_http_info(cloud_instance_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_post ...'
      end
      # verify the required parameter 'cloud_instance_id' is set
      if @api_client.config.client_side_validation && cloud_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_instance_id' when calling PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_post"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_post"
      end
      # resource path
      local_var_path = '/pcloud/v1/cloud-instances/{cloud_instance_id}/spp-placement-groups'.sub('{' + 'cloud_instance_id' + '}', CGI.escape(cloud_instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'SPPPlacementGroup'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudSPPPlacementGroupsApi.pcloud_sppplacementgroups_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudSPPPlacementGroupsApi#pcloud_sppplacementgroups_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
