=begin
#Power Cloud API

#IBM Power Cloud API for Power Hardware / Infrastructure

The version of the OpenAPI document: 1.0.0
Contact: kylej@us.ibm.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module IbmCloudPower
  class PCloudDisasterRecoveryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the disaster recovery site details for the current location
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param [Hash] opts the optional parameters
    # @return [DisasterRecoveryLocation]
    def pcloud_locations_disasterrecovery_get(cloud_instance_id, opts = {})
      data, _status_code, _headers = pcloud_locations_disasterrecovery_get_with_http_info(cloud_instance_id, opts)
      data
    end

    # Get the disaster recovery site details for the current location
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisasterRecoveryLocation, Integer, Hash)>] DisasterRecoveryLocation data, response status code and response headers
    def pcloud_locations_disasterrecovery_get_with_http_info(cloud_instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudDisasterRecoveryApi.pcloud_locations_disasterrecovery_get ...'
      end
      # verify the required parameter 'cloud_instance_id' is set
      if @api_client.config.client_side_validation && cloud_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_instance_id' when calling PCloudDisasterRecoveryApi.pcloud_locations_disasterrecovery_get"
      end
      # resource path
      local_var_path = '/pcloud/v1/cloud-instances/{cloud_instance_id}/locations/disaster-recovery'.sub('{' + 'cloud_instance_id' + '}', CGI.escape(cloud_instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisasterRecoveryLocation'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudDisasterRecoveryApi.pcloud_locations_disasterrecovery_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudDisasterRecoveryApi#pcloud_locations_disasterrecovery_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all disaster recovery locations supported by Power Virtual Server
    # @param [Hash] opts the optional parameters
    # @return [DisasterRecoveryLocations]
    def pcloud_locations_disasterrecovery_getall(opts = {})
      data, _status_code, _headers = pcloud_locations_disasterrecovery_getall_with_http_info(opts)
      data
    end

    # Get all disaster recovery locations supported by Power Virtual Server
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisasterRecoveryLocations, Integer, Hash)>] DisasterRecoveryLocations data, response status code and response headers
    def pcloud_locations_disasterrecovery_getall_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudDisasterRecoveryApi.pcloud_locations_disasterrecovery_getall ...'
      end
      # resource path
      local_var_path = '/pcloud/v1/locations/disaster-recovery'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisasterRecoveryLocations'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudDisasterRecoveryApi.pcloud_locations_disasterrecovery_getall",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudDisasterRecoveryApi#pcloud_locations_disasterrecovery_getall\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
