=begin
#Power Cloud API

#IBM Power Cloud API for Power Hardware / Infrastructure

The version of the OpenAPI document: 2.3.1
Contact: ismirlia@us.ibm.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.4.0

=end

require 'cgi'

module IbmCloudPower
  class PCloudVirtualSerialNumberApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Unassign Virtual Serial Number from a PVM Instance
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param pvm_instance_id [String] PCloud PVM Instance ID
    # @param [Hash] opts the optional parameters
    # @option opts [DeleteServerVirtualSerialNumber] :body Parameters to unassign a Virtual Serial Number attached to a PVM Instance
    # @return [Object]
    def pcloud_pvminstances_virtualserialnumber_delete(cloud_instance_id, pvm_instance_id, opts = {})
      data, _status_code, _headers = pcloud_pvminstances_virtualserialnumber_delete_with_http_info(cloud_instance_id, pvm_instance_id, opts)
      data
    end

    # Unassign Virtual Serial Number from a PVM Instance
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param pvm_instance_id [String] PCloud PVM Instance ID
    # @param [Hash] opts the optional parameters
    # @option opts [DeleteServerVirtualSerialNumber] :body Parameters to unassign a Virtual Serial Number attached to a PVM Instance
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def pcloud_pvminstances_virtualserialnumber_delete_with_http_info(cloud_instance_id, pvm_instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_delete ...'
      end
      # verify the required parameter 'cloud_instance_id' is set
      if @api_client.config.client_side_validation && cloud_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_instance_id' when calling PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_delete"
      end
      # verify the required parameter 'pvm_instance_id' is set
      if @api_client.config.client_side_validation && pvm_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'pvm_instance_id' when calling PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_delete"
      end
      # resource path
      local_var_path = '/pcloud/v1/cloud-instances/{cloud_instance_id}/pvm-instances/{pvm_instance_id}/virtual-serial-number'.sub('{' + 'cloud_instance_id' + '}', CGI.escape(cloud_instance_id.to_s)).sub('{' + 'pvm_instance_id' + '}', CGI.escape(pvm_instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudVirtualSerialNumberApi#pcloud_pvminstances_virtualserialnumber_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a PVM Instance's Virtual Serial Number Information
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param pvm_instance_id [String] PCloud PVM Instance ID
    # @param [Hash] opts the optional parameters
    # @return [VirtualSerialNumber]
    def pcloud_pvminstances_virtualserialnumber_get(cloud_instance_id, pvm_instance_id, opts = {})
      data, _status_code, _headers = pcloud_pvminstances_virtualserialnumber_get_with_http_info(cloud_instance_id, pvm_instance_id, opts)
      data
    end

    # Get a PVM Instance&#39;s Virtual Serial Number Information
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param pvm_instance_id [String] PCloud PVM Instance ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualSerialNumber, Integer, Hash)>] VirtualSerialNumber data, response status code and response headers
    def pcloud_pvminstances_virtualserialnumber_get_with_http_info(cloud_instance_id, pvm_instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_get ...'
      end
      # verify the required parameter 'cloud_instance_id' is set
      if @api_client.config.client_side_validation && cloud_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_instance_id' when calling PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_get"
      end
      # verify the required parameter 'pvm_instance_id' is set
      if @api_client.config.client_side_validation && pvm_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'pvm_instance_id' when calling PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_get"
      end
      # resource path
      local_var_path = '/pcloud/v1/cloud-instances/{cloud_instance_id}/pvm-instances/{pvm_instance_id}/virtual-serial-number'.sub('{' + 'cloud_instance_id' + '}', CGI.escape(cloud_instance_id.to_s)).sub('{' + 'pvm_instance_id' + '}', CGI.escape(pvm_instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualSerialNumber'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudVirtualSerialNumberApi#pcloud_pvminstances_virtualserialnumber_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign Virtual Serial Number to a PVM Instance
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param pvm_instance_id [String] PCloud PVM Instance ID
    # @param body [AddServerVirtualSerialNumber] Parameters to assign Virtual Serial Number to a PVM Instance
    # @param [Hash] opts the optional parameters
    # @return [VirtualSerialNumber]
    def pcloud_pvminstances_virtualserialnumber_post(cloud_instance_id, pvm_instance_id, body, opts = {})
      data, _status_code, _headers = pcloud_pvminstances_virtualserialnumber_post_with_http_info(cloud_instance_id, pvm_instance_id, body, opts)
      data
    end

    # Assign Virtual Serial Number to a PVM Instance
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param pvm_instance_id [String] PCloud PVM Instance ID
    # @param body [AddServerVirtualSerialNumber] Parameters to assign Virtual Serial Number to a PVM Instance
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualSerialNumber, Integer, Hash)>] VirtualSerialNumber data, response status code and response headers
    def pcloud_pvminstances_virtualserialnumber_post_with_http_info(cloud_instance_id, pvm_instance_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_post ...'
      end
      # verify the required parameter 'cloud_instance_id' is set
      if @api_client.config.client_side_validation && cloud_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_instance_id' when calling PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_post"
      end
      # verify the required parameter 'pvm_instance_id' is set
      if @api_client.config.client_side_validation && pvm_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'pvm_instance_id' when calling PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_post"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_post"
      end
      # resource path
      local_var_path = '/pcloud/v1/cloud-instances/{cloud_instance_id}/pvm-instances/{pvm_instance_id}/virtual-serial-number'.sub('{' + 'cloud_instance_id' + '}', CGI.escape(cloud_instance_id.to_s)).sub('{' + 'pvm_instance_id' + '}', CGI.escape(pvm_instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualSerialNumber'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudVirtualSerialNumberApi#pcloud_pvminstances_virtualserialnumber_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a Virtual Serial Number
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param pvm_instance_id [String] PCloud PVM Instance ID
    # @param body [UpdateServerVirtualSerialNumber] Parameters to update a Virtual Serial Number description
    # @param [Hash] opts the optional parameters
    # @return [VirtualSerialNumber]
    def pcloud_pvminstances_virtualserialnumber_put(cloud_instance_id, pvm_instance_id, body, opts = {})
      data, _status_code, _headers = pcloud_pvminstances_virtualserialnumber_put_with_http_info(cloud_instance_id, pvm_instance_id, body, opts)
      data
    end

    # Update a Virtual Serial Number
    # @param cloud_instance_id [String] Cloud Instance ID of a PCloud Instance
    # @param pvm_instance_id [String] PCloud PVM Instance ID
    # @param body [UpdateServerVirtualSerialNumber] Parameters to update a Virtual Serial Number description
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualSerialNumber, Integer, Hash)>] VirtualSerialNumber data, response status code and response headers
    def pcloud_pvminstances_virtualserialnumber_put_with_http_info(cloud_instance_id, pvm_instance_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_put ...'
      end
      # verify the required parameter 'cloud_instance_id' is set
      if @api_client.config.client_side_validation && cloud_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'cloud_instance_id' when calling PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_put"
      end
      # verify the required parameter 'pvm_instance_id' is set
      if @api_client.config.client_side_validation && pvm_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'pvm_instance_id' when calling PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_put"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_put"
      end
      # resource path
      local_var_path = '/pcloud/v1/cloud-instances/{cloud_instance_id}/pvm-instances/{pvm_instance_id}/virtual-serial-number'.sub('{' + 'cloud_instance_id' + '}', CGI.escape(cloud_instance_id.to_s)).sub('{' + 'pvm_instance_id' + '}', CGI.escape(pvm_instance_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualSerialNumber'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudVirtualSerialNumberApi.pcloud_pvminstances_virtualserialnumber_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudVirtualSerialNumberApi#pcloud_pvminstances_virtualserialnumber_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unreserve a retained Virtual Serial Number
    # @param virtual_serial_number [String] Virtual Serial Number
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def pcloud_virtualserialnumber_delete(virtual_serial_number, opts = {})
      data, _status_code, _headers = pcloud_virtualserialnumber_delete_with_http_info(virtual_serial_number, opts)
      data
    end

    # Unreserve a retained Virtual Serial Number
    # @param virtual_serial_number [String] Virtual Serial Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def pcloud_virtualserialnumber_delete_with_http_info(virtual_serial_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudVirtualSerialNumberApi.pcloud_virtualserialnumber_delete ...'
      end
      # verify the required parameter 'virtual_serial_number' is set
      if @api_client.config.client_side_validation && virtual_serial_number.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_serial_number' when calling PCloudVirtualSerialNumberApi.pcloud_virtualserialnumber_delete"
      end
      # resource path
      local_var_path = '/v1/virtual-serial-number/{virtual_serial_number}'.sub('{' + 'virtual_serial_number' + '}', CGI.escape(virtual_serial_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudVirtualSerialNumberApi.pcloud_virtualserialnumber_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudVirtualSerialNumberApi#pcloud_virtualserialnumber_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get information for a Virtual Serial Number
    # @param virtual_serial_number [String] Virtual Serial Number
    # @param [Hash] opts the optional parameters
    # @return [VirtualSerialNumber]
    def pcloud_virtualserialnumber_get(virtual_serial_number, opts = {})
      data, _status_code, _headers = pcloud_virtualserialnumber_get_with_http_info(virtual_serial_number, opts)
      data
    end

    # Get information for a Virtual Serial Number
    # @param virtual_serial_number [String] Virtual Serial Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(VirtualSerialNumber, Integer, Hash)>] VirtualSerialNumber data, response status code and response headers
    def pcloud_virtualserialnumber_get_with_http_info(virtual_serial_number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudVirtualSerialNumberApi.pcloud_virtualserialnumber_get ...'
      end
      # verify the required parameter 'virtual_serial_number' is set
      if @api_client.config.client_side_validation && virtual_serial_number.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_serial_number' when calling PCloudVirtualSerialNumberApi.pcloud_virtualserialnumber_get"
      end
      # resource path
      local_var_path = '/v1/virtual-serial-number/{virtual_serial_number}'.sub('{' + 'virtual_serial_number' + '}', CGI.escape(virtual_serial_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VirtualSerialNumber'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudVirtualSerialNumberApi.pcloud_virtualserialnumber_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudVirtualSerialNumberApi#pcloud_virtualserialnumber_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all utilized and retained VSNs
    # @param [Hash] opts the optional parameters
    # @option opts [String] :pvm_instance_id PVM Instance ID
    # @return [Array<VirtualSerialNumber>]
    def pcloud_virtualserialnumber_getall(opts = {})
      data, _status_code, _headers = pcloud_virtualserialnumber_getall_with_http_info(opts)
      data
    end

    # List all utilized and retained VSNs
    # @param [Hash] opts the optional parameters
    # @option opts [String] :pvm_instance_id PVM Instance ID
    # @return [Array<(Array<VirtualSerialNumber>, Integer, Hash)>] Array<VirtualSerialNumber> data, response status code and response headers
    def pcloud_virtualserialnumber_getall_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudVirtualSerialNumberApi.pcloud_virtualserialnumber_getall ...'
      end
      # resource path
      local_var_path = '/v1/virtual-serial-number'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pvmInstanceID'] = opts[:'pvm_instance_id'] if !opts[:'pvm_instance_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VirtualSerialNumber>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudVirtualSerialNumberApi.pcloud_virtualserialnumber_getall",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudVirtualSerialNumberApi#pcloud_virtualserialnumber_getall\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Description of a Reserved Virtual Serial Number
    # @param virtual_serial_number [String] Virtual Serial Number
    # @param body [UpdateVirtualSerialNumber] Parameters to edit description of a reserved Virtual Serial Number
    # @param [Hash] opts the optional parameters
    # @return [GetServerVirtualSerialNumber]
    def pcloud_virtualserialnumber_put(virtual_serial_number, body, opts = {})
      data, _status_code, _headers = pcloud_virtualserialnumber_put_with_http_info(virtual_serial_number, body, opts)
      data
    end

    # Update Description of a Reserved Virtual Serial Number
    # @param virtual_serial_number [String] Virtual Serial Number
    # @param body [UpdateVirtualSerialNumber] Parameters to edit description of a reserved Virtual Serial Number
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetServerVirtualSerialNumber, Integer, Hash)>] GetServerVirtualSerialNumber data, response status code and response headers
    def pcloud_virtualserialnumber_put_with_http_info(virtual_serial_number, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PCloudVirtualSerialNumberApi.pcloud_virtualserialnumber_put ...'
      end
      # verify the required parameter 'virtual_serial_number' is set
      if @api_client.config.client_side_validation && virtual_serial_number.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_serial_number' when calling PCloudVirtualSerialNumberApi.pcloud_virtualserialnumber_put"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling PCloudVirtualSerialNumberApi.pcloud_virtualserialnumber_put"
      end
      # resource path
      local_var_path = '/v1/virtual-serial-number/{virtual_serial_number}'.sub('{' + 'virtual_serial_number' + '}', CGI.escape(virtual_serial_number.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'GetServerVirtualSerialNumber'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PCloudVirtualSerialNumberApi.pcloud_virtualserialnumber_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PCloudVirtualSerialNumberApi#pcloud_virtualserialnumber_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
