---
http_interactions:
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/volumes?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - 203dca2b24409f690a8ac901f0c392cc
    body:
      encoding: UTF-8
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/volumes?start=r014-75d669a9-72f6-11ea-b28c-feff0b284b22\u0026limit=50"},"limit":50,"volumes":[{"capacity":100,"created_at":"2020-03-31T02:22:29.000Z","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::volume:r014-75d669a9-72f6-11ea-b28c-feff0b284b22","encryption":"provider_managed","href":"https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-75d669a9-72f6-11ea-b28c-feff0b284b22","id":"r014-75d669a9-72f6-11ea-b28c-feff0b284b22","iops":3000,"name":"postgres","profile":{"href":"https://us-east.iaas.cloud.ibm.com/v1/volume/profiles/general-purpose","name":"general-purpose"},"resource_group":{"href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"status":"available","volume_attachments":[{"delete_volume_on_instance_delete":false,"device":{"id":"0777-fc94b3f8-20e8-45c8-bf95-6893ae56f52c-jbjx5"},"href":"https://us-east.iaas.cloud.ibm.com/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/volume_attachments/0777-fc94b3f8-20e8-45c8-bf95-6893ae56f52c","id":"0777-fc94b3f8-20e8-45c8-bf95-6893ae56f52c","instance":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::instance:0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","href":"https://us-east.iaas.cloud.ibm.com/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","id":"0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","name":"test"},"name":"volume-attachment","type":"data"}],"zone":{"href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3","name":"us-east-3"}},{"capacity":100,"created_at":"2020-03-31T02:22:30.000Z","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::volume:r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","encryption":"provider_managed","href":"https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","id":"r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","iops":3000,"name":"test-boot","profi[...]
