---
http_interactions:
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/security_groups?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 108815a1b11946e8
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups?limit=50"},"total_count":1,"security_groups":[{"id":"r014-117c294f-0f30-4541-bfb8-8bba188d52e0","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::security-group:r014-117c294f-0f30-4541-bfb8-8bba188d52e0","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0","name":"nebulizer-bobtail-hacked-yield-linseed-sandpit","rules":[{"id":"r014-287518c2-9046-4827-89a8-31f52c9f1ef3","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-287518c2-9046-4827-89a8-31f52c9f1ef3","direction":"outbound","ip_version":"ipv4","protocol":"all","remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-7ed62e64-3cc4-450d-ba8b-c9223cce6c6d","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-7ed62e64-3cc4-450d-ba8b-c9223cce6c6d","direction":"inbound","ip_version":"ipv4","protocol":"all","remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-942705b8-da85-4bb2-8528-c44369ada6bf","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-942705b8-da85-4bb2-8528-c44369ada6bf","direction":"inbound","ip_version":"ipv4","protocol":"icmp","type":8,"remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-a1417a26-6392-4066-923d-e767914befb8","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-a1417a26-6392-4066-923d-e767914befb8","direction":"inbound","ip_version":"ipv4","protocol":"tcp","port_min":1,"port_max":65535,"remote":{"cidr_block":"127.0.0.0/0"}},{"id":"r014-a455dbfc-e63a-44a0-a65e-816a58bdef8b","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0/rules/r014-a455dbfc-e63a-44a0-a65e-816a58bdef8b","direction":"outbound","ip_version":"ipv4","protocol":"tcp","port_min":1,"port_max":65535,"remote":{"cidr_block":"127.0.0.0/0"}}],"network_interfaces":[{"id":"0777-4b0566a4-7623-4578-b316-978922010b81","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_f73e8687-3813-465f-99df-ba6e4ee8f289/network_interfaces/0777-4b0566a4-7623-4578-b316-978922010b81","name":"eth0","primary_ipv4_address":"127.0.0.6","subnet":{"id":"0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::subnet:0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","name":"cloudformsvpc","resource_type":"subnet"},"resource_type":"network_interface"},{"id":"0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/network_interfaces/0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","name":"eth0","primary_ipv4_address":"127.0.0.4","subnet":{"id":"0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::subnet:0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","name":"cloudformsvpc","resource_type":"subnet"},"resource_type":"network_interface"}],"vpc":{"id":"r014-7186c34c-67cc-4c07-aa40-326ecb895b53","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::vpc:r014-7186c34c-67cc-4c07-aa40-326ecb895b53","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-7186c34c-67cc-4c07-aa40-326ecb895b53","name":"cloudformvpx","resource_type":"vpc"},"created_at":"2020-03-31T02:16:00Z","resource_group":{"id":"29b1dd25de2d40b5ae5bd5f719f30db8","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/29b1dd25de2d40b5ae5bd5f719f30db8","name":"camc-test"}}]}

        '
  recorded_at: Wed, 23 Sep 2020 22:32:43 GMT
recorded_with: VCR 6.0.0
