---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=API_KEY
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 2b989e05a15441b58901d921692b3678
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aaaa","refresh_token":"11111","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":1893456000,"scope":"ibm
        openid"}'
  recorded_at: Thu, 01 Oct 2020 23:33:45 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/images?generation=2&version=2020-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Transaction-Id:
      - 685ff65c74df1352d944f02d8fb2094d
    body:
      encoding: ASCII-8BIT
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/images?limit=50"},"limit":50,"images":[{"id":"r014-c37c9a73-a12f-4ac0-a619-c31e2aa4215a","crn":"crn:v1:bluemix:public:is:us-east:a/811f8abfbd32425597dc7ba40da98fa6::image:r014-c37c9a73-a12f-4ac0-a619-c31e2aa4215a","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-c37c9a73-a12f-4ac0-a619-c31e2aa4215a","name":"ibm-redhat-8-1-minimal-amd64-1","minimum_provisioned_size":100,"resource_group":{"id":"5807b5832a8741179b2e06ca2d2b3b96","href":"https://resource-controller.cloud.ibm.com/v1/resource_groups/5807b5832a8741179b2e06ca2d2b3b96"},"created_at":"2020-08-10T15:01:51Z","file":{"size":2},"operating_system":{"href":"https://us-east.iaas.cloud.ibm.com/v1/operating_systems/red-8-amd64","name":"red-8-amd64","architecture":"amd64","display_name":"Red
        Hat Enterprise Linux 8.x - Minimal Install (amd64)","family":"Red Hat Enterprise
        Linux","vendor":"Red Hat","version":"8.x - Minimal Install"},"status":"available","visibility":"public","encryption":"none"},{"id":"r014-5e390f7b-0469-4ac1-b589-2fea307c1c5a","crn":"crn:v1:bluemix:public:is:us-east:::image:r014-5e390f7b-0469-4ac1-b589-2fea307c1c5a","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-5e390f7b-0469-4ac1-b589-2fea307c1c5a","name":"ibm-debian-9-12-minimal-amd64-2","minimum_provisioned_size":100,"resource_group":{"id":"","href":"https://resource-controller.cloud.ibm.com/v1/resource_groups/"},"created_at":"2020-05-12T14:47:03Z","file":{"size":2},"operating_system":{"href":"htt[...]
