---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=API_KEY
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - d058705ae9ff44b99ea3e6243f4ec16d
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aaaa","refresh_token":"11111","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":1893456000,"scope":"ibm
        openid"}'
  recorded_at: Thu, 01 Oct 2020 23:35:18 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/vpcs?generation=2&version=2020-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 255d035da6216fe6
    body:
      encoding: ASCII-8BIT
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs?limit=50"},"total_count":1,"vpcs":[{"id":"r014-7186c34c-67cc-4c07-aa40-326ecb895b53","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::vpc:r014-7186c34c-67cc-4c07-aa40-326ecb895b53","href":"https://us-east.iaas.cloud.ibm.com/v1/vpcs/r014-7186c34c-67cc-4c07-aa40-326ecb895b53","name":"cloudformvpx","resource_type":"vpc","status":"available","classic_access":false,"created_at":"2020-03-31T02:16:00Z","default_network_acl":{"id":"r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::network-acl:r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls/r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","name":"napped-pessimist-thing-revolving-graduate-punctuate"},"default_security_group":{"id":"r014-117c294f-0f30-4541-bfb8-8bba188d52e0","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::security-group:r014-117c294f-0f30-4541-bfb8-8bba188d52e0","href":"https://us-east.iaas.cloud.ibm.com/v1/security_groups/r014-117c294f-0f30-4541-bfb8-8bba188d52e0","name":"nebulizer-bobtail-hacked-yield-linseed-sandpit"},"resource_group":{"id":"29b1dd25de2d40b5ae5bd5f719f30db8","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/29b1dd25de2d40b5ae5bd5f719f30db8","name":"camc-test"},"cse_source_ips":[{"ip":{"address":"127.0.0.90"},"zone":{"name":"us-east-1","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-1"}},{"ip":{"address":"127.0.0.22"},"zone":{"name":"us-east-2","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-2"}},{"ip":{"address":"127.0.0.82"},"zone":{"name":"us-east-3","href":"https://us-east.iaas.cloud.ibm.com/v1/regions/us-east/zones/us-east-3"}}]}]}

        '
  recorded_at: Thu, 01 Oct 2020 23:35:19 GMT
[...]
