---
http_interactions:
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/network_acls?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 958175b44f98831
    body:
      encoding: UTF-8
      string: '{"limit":50,"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls?limit=50"},"total_count":1,"network_acls":[{"id":"r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::network-acl:r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls/r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3","name":"napped-pessimist-thing-revolving-graduate-punctuate","created_at":"2020-03-31T02:16:00Z","rules":[{"id":"8106f2a2-9bd1-490d-930d-329531138f99","href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls/r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3/rules/8106f2a2-9bd1-490d-930d-329531138f99","name":"unsteady-trolling-matron-labored-shrapnel-ether","source_port_min":1,"source_port_max":65535,"destination_port_min":1,"destination_port_max":65535,"protocol":"tcp","source":"127.0.0.0/0","destination":"127.0.0.0/0","direction":"inbound","action":"allow","ip_version":"ipv4","before":{"id":"r014-adc77bf0-9c95-4b02-9b03-5548551e9d43","href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls/r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3/rules/r014-adc77bf0-9c95-4b02-9b03-5548551e9d43","name":"allow-inbound"},"created_at":"2020-03-31T02:16:59Z"},{"id":"r014-adc77bf0-9c95-4b02-9b03-5548551e9d43","href":"https://us-east.iaas.cloud.ibm.com/v1/network_acls/r014-3cb58cb2-6a61-4fea-a78f-55c39ba03ad3/rules/r014-adc77bf0-9c95-4b02-9b03-5548551e9d43","name":"allow-inbound","protocol":"all"[...]
