---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=API_KEY
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - df2534e18ce24833a9f7c33c10876bd6
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aaaa","refresh_token":"11111","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":1893456000,"scope":"ibm
        openid"}'
  recorded_at: Thu, 01 Oct 2020 23:46:38 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/keys?generation=2&version=2020-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 16c93be8509cb5c9
    body:
      encoding: ASCII-8BIT
      string: '{"keys":[{"id":"r014-0856edbd-da51-4965-8be5-dcce5caeca3e","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-0856edbd-da51-4965-8be5-dcce5caeca3e","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-0856edbd-da51-4965-8be5-dcce5caeca3e","fingerprint":"SHA256:xxxxxxx","name":"random_key_0","public_key":"RSA:
        VVVVVV","type":"rsa","length":4096,"created_at":"2020-03-31T02:20:17Z","resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"}}]}'
  recorded_at: Thu, 01 Oct 2020 23:46:39 GMT
recorded_with: VCR 6.0.0
