---
http_interactions:
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/keys?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 1194fb76d022ca72
    body:
      encoding: UTF-8
      string: '{"keys":[{"id":"r014-0856edbd-da51-4965-8be5-dcce5caeca3e","crn":"crn:v1:bluemix:public:is:us-east:a/c56c9a268d23e1b339ac14774358133c::key:r014-0856edbd-da51-4965-8be5-dcce5caeca3e","href":"https://us-east.iaas.cloud.ibm.com/v1/keys/r014-0856edbd-da51-4965-8be5-dcce5caeca3e","fingerprint":"SHA256:xxxxxxx","name":"random_key_0","public_key":"RSA:
        VVVVVV","type":"rsa","length":4096,"created_at":"2020-03-31T02:20:17Z","resource_group":{"id":"345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","name":"default"}}]}'
  recorded_at: Wed, 23 Sep 2020 23:53:10 GMT
recorded_with: VCR 6.0.0
