---
http_interactions:
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/ike_policies?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 263d6582-79e3-45cf-96e2-f7f48bd2b116
    body:
      encoding: ASCII-8BIT
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/ike_policies?version=2020-08-01\u0026generation=2\u0026limit=50"},"ike_policies":[],"limit":50,"total_count":0}'
  recorded_at: Wed, 23 Sep 2020 22:32:30 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/ike_policies?generation=2&version=2020-08-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 4d794362-b701-4bac-a637-e211e769bb31
    body:
      encoding: ASCII-8BIT
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/ike_policies?version=2020-08-01\u0026generation=2\u0026limit=50"},"ike_policies":[],"limit":50,"total_count":0}'
  recorded_at: Wed, 23 Sep 2020 22:32:31 GMT
recorded_with: VCR 6.0.0
