---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=API_KEY
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 760e3e7035ae4a2eba147d3d993303a3
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aaaa","refresh_token":"11111","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":1893456000,"scope":"ibm
        openid"}'
  recorded_at: Thu, 01 Oct 2020 23:34:06 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/ike_policies?generation=2&version=2020-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - dc94080b-535d-4d4c-af39-a4eaea7ac6c4
    body:
      encoding: ASCII-8BIT
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/ike_policies?version=2020-08-01\u0026generation=2\u0026limit=50"},"ike_policies":[],"limit":50,"total_count":0}'
  recorded_at: Thu, 01 Oct 2020 23:34:06 GMT
recorded_with: VCR 6.0.0
