---
http_interactions:
- request:
    method: post
    uri: https://iam.cloud.ibm.com/identity/token
    body:
      encoding: UTF-8
      string: grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=API_KEY
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Transaction-Id:
      - 5aa22689c10b43539a367f74beb62afc
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aaaa","refresh_token":"11111","ims_user_id":"22222","token_type":"Bearer","expires_in":3600,"expiration":1893456000,"scope":"ibm
        openid"}'
  recorded_at: Thu, 01 Oct 2020 23:51:37 GMT
- request:
    method: get
    uri: https://us-east.iaas.cloud.ibm.com/v1/instances?generation=2&limit=1&version=2020-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization: Bearer xxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 5f1996c803d3e6aa
    body:
      encoding: ASCII-8BIT
      string: '{"first":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances?limit=1"},"instances":[{"bandwidth":4000,"boot_volume_attachment":{"device":{"id":"0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9-8fbnl"},"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/volume_attachments/0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9","id":"0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9","name":"volume-attachment","resource_type":"volume_attachment","volume":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::volume:r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","href":"https://us-east.iaas.cloud.ibm.com/v1/volumes/r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","id":"r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","name":"test-boot","resource_type":"volume"}},"created_at":"2020-03-31T02:22:25.000Z","crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::instance:0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","disks":null,"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","id":"0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d","image":{"crn":"UNKNOWN","href":"https://us-east.iaas.cloud.ibm.com/v1/images/r014-d82ac057-feab-4d4b-968c-8557c215c17e","id":"r014-d82ac057-feab-4d4b-968c-8557c215c17e","name":"tryagain","resource_type":"image"},"memory":16,"name":"test","network_interfaces":[{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/network_interfaces/0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","id":"0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","name":"eth0","primary_ipv4_address":"127.0.0.4","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::subnet:0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","id":"0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","name":"cloudformsvpc","resource_type":"subnet"}}],"primary_network_interface":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/network_interfaces/0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","id":"0777-a967defa-4cc9-4872-b0ab-5d0c623abea3","name":"eth0","primary_ipv4_address":"127.0.0.4","resource_type":"network_interface","subnet":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::subnet:0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","href":"https://us-east.iaas.cloud.ibm.com/v1/subnets/0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","id":"0777-8da6464b-e4bf-4cd6-8e9f-09a9f0f619c5","name":"cloudformsvpc","resource_type":"subnet"}},"profile":{"href":"https://us-east.iaas.cloud.ibm.com/v1/instance/profiles/mx2-2x16","name":"mx2-2x16","resource_type":"instance_profile"},"resource_group":{"crn":"crn:v1:bluemix:public:resource-controller::a/c56c9a268d23e1b339ac14774358133c::resource-group:345c433098294722ba52d9039133e8cf","href":"https://resource-controller.cloud.ibm.com/v2/resource_groups/345c433098294722ba52d9039133e8cf","id":"345c433098294722ba52d9039133e8cf","name":"default"},"resource_type":"instance","status":"running","vcpu":{"architecture":"amd64","count":2},"volume_attachments":[{"device":{"id":"0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9-8fbnl"},"href":"https://us-east.iaas.cloud.ibm.com/v1/instances/0777_249ba858-a4eb-4f2c-ba6c-72254a781d0d/volume_attachments/0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9","id":"0777-de4544bd-58bb-4924-8f0c-4edf4fc994b9","name":"volume-attachment","resource_type":"volume_attachment","volume":{"crn":"crn:v1:bluemix:public:is:us-east-3:a/c56c9a268d23e1b339ac14774358133c::volume:r014-75d65ec3-72f6-11ea-b28c-feff0b284b22","href":"https://us-eas[...]
