=begin
#IBM Cloud Resource Controller API

#Manage lifecycle of your Cloud resources using Resource Controller APIs. Resources are provisioned globally in an account scope. Supports asynchronous provisioning of resources. Enables consumption of a global resource through a Cloud Foundry space in any region.

The version of the OpenAPI document: 2.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.0.0-beta2

=end

require 'cgi'

module IbmCloudResourceController
  class ResourceAliasesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new resource alias
    # Alias a resource instance into a targeted environment's (name)space.
    # @param resource_alias_post [ResourceAliasPost] 
    # @param [Hash] opts the optional parameters
    # @return [ResourceAlias]
    def create_resource_alias(resource_alias_post, opts = {})
      data, _status_code, _headers = create_resource_alias_with_http_info(resource_alias_post, opts)
      data
    end

    # Create a new resource alias
    # Alias a resource instance into a targeted environment&#39;s (name)space.
    # @param resource_alias_post [ResourceAliasPost] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceAlias, Integer, Hash)>] ResourceAlias data, response status code and response headers
    def create_resource_alias_with_http_info(resource_alias_post, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceAliasesApi.create_resource_alias ...'
      end
      # verify the required parameter 'resource_alias_post' is set
      if @api_client.config.client_side_validation && resource_alias_post.nil?
        fail ArgumentError, "Missing the required parameter 'resource_alias_post' when calling ResourceAliasesApi.create_resource_alias"
      end
      # resource path
      local_var_path = '/v2/resource_aliases'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(resource_alias_post) 

      # return_type
      return_type = opts[:return_type] || 'ResourceAlias' 

      # auth_names
      auth_names = opts[:auth_names] || ['IAM']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceAliasesApi#create_resource_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a resource alias
    # Delete a resource alias by ID.
    # @param id [String] The short or long ID of the alias.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_resource_alias(id, opts = {})
      delete_resource_alias_with_http_info(id, opts)
      nil
    end

    # Delete a resource alias
    # Delete a resource alias by ID.
    # @param id [String] The short or long ID of the alias.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_resource_alias_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceAliasesApi.delete_resource_alias ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourceAliasesApi.delete_resource_alias"
      end
      # resource path
      local_var_path = '/v2/resource_aliases/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['IAM']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceAliasesApi#delete_resource_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a resource alias
    # Retrieve a resource alias by ID.
    # @param id [String] The short or long ID of the alias.
    # @param [Hash] opts the optional parameters
    # @return [ResourceAlias]
    def get_resource_alias(id, opts = {})
      data, _status_code, _headers = get_resource_alias_with_http_info(id, opts)
      data
    end

    # Get a resource alias
    # Retrieve a resource alias by ID.
    # @param id [String] The short or long ID of the alias.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceAlias, Integer, Hash)>] ResourceAlias data, response status code and response headers
    def get_resource_alias_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceAliasesApi.get_resource_alias ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourceAliasesApi.get_resource_alias"
      end
      # resource path
      local_var_path = '/v2/resource_aliases/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'ResourceAlias' 

      # auth_names
      auth_names = opts[:auth_names] || ['IAM']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceAliasesApi#get_resource_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all resource aliases
    # Get a list of all resource aliases.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :guid Short ID of the alias.
    # @option opts [String] :name The human-readable name of the alias.
    # @option opts [String] :resource_instance_id Resource instance short ID.
    # @option opts [String] :region_instance_id Short ID of the instance in a specific targeted environment. For example, &#x60;service_instance_id&#x60; in a given IBM Cloud environment.
    # @option opts [String] :resource_id The unique ID of the offering (service name). This value is provided by and stored in the global catalog.
    # @option opts [String] :resource_group_id Short ID of Resource group.
    # @option opts [String] :limit Limit on how many items should be returned.
    # @option opts [String] :updated_from Start date inclusive filter.
    # @option opts [String] :updated_to End date inclusive filter.
    # @return [ResourceAliasesList]
    def list_resource_aliases(opts = {})
      data, _status_code, _headers = list_resource_aliases_with_http_info(opts)
      data
    end

    # Get a list of all resource aliases
    # Get a list of all resource aliases.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :guid Short ID of the alias.
    # @option opts [String] :name The human-readable name of the alias.
    # @option opts [String] :resource_instance_id Resource instance short ID.
    # @option opts [String] :region_instance_id Short ID of the instance in a specific targeted environment. For example, &#x60;service_instance_id&#x60; in a given IBM Cloud environment.
    # @option opts [String] :resource_id The unique ID of the offering (service name). This value is provided by and stored in the global catalog.
    # @option opts [String] :resource_group_id Short ID of Resource group.
    # @option opts [String] :limit Limit on how many items should be returned.
    # @option opts [String] :updated_from Start date inclusive filter.
    # @option opts [String] :updated_to End date inclusive filter.
    # @return [Array<(ResourceAliasesList, Integer, Hash)>] ResourceAliasesList data, response status code and response headers
    def list_resource_aliases_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceAliasesApi.list_resource_aliases ...'
      end
      # resource path
      local_var_path = '/v2/resource_aliases'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'guid'] = opts[:'guid'] if !opts[:'guid'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'resource_instance_id'] = opts[:'resource_instance_id'] if !opts[:'resource_instance_id'].nil?
      query_params[:'region_instance_id'] = opts[:'region_instance_id'] if !opts[:'region_instance_id'].nil?
      query_params[:'resource_id'] = opts[:'resource_id'] if !opts[:'resource_id'].nil?
      query_params[:'resource_group_id'] = opts[:'resource_group_id'] if !opts[:'resource_group_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'updated_from'] = opts[:'updated_from'] if !opts[:'updated_from'].nil?
      query_params[:'updated_to'] = opts[:'updated_to'] if !opts[:'updated_to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'ResourceAliasesList' 

      # auth_names
      auth_names = opts[:auth_names] || ['IAM']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceAliasesApi#list_resource_aliases\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a resource alias
    # Update a resource alias by ID.
    # @param id [String] The short or long ID of the alias.
    # @param resource_alias_patch [ResourceAliasPatch] 
    # @param [Hash] opts the optional parameters
    # @return [ResourceAlias]
    def update_resource_alias(id, resource_alias_patch, opts = {})
      data, _status_code, _headers = update_resource_alias_with_http_info(id, resource_alias_patch, opts)
      data
    end

    # Update a resource alias
    # Update a resource alias by ID.
    # @param id [String] The short or long ID of the alias.
    # @param resource_alias_patch [ResourceAliasPatch] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResourceAlias, Integer, Hash)>] ResourceAlias data, response status code and response headers
    def update_resource_alias_with_http_info(id, resource_alias_patch, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ResourceAliasesApi.update_resource_alias ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ResourceAliasesApi.update_resource_alias"
      end
      # verify the required parameter 'resource_alias_patch' is set
      if @api_client.config.client_side_validation && resource_alias_patch.nil?
        fail ArgumentError, "Missing the required parameter 'resource_alias_patch' when calling ResourceAliasesApi.update_resource_alias"
      end
      # resource path
      local_var_path = '/v2/resource_aliases/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(resource_alias_patch) 

      # return_type
      return_type = opts[:return_type] || 'ResourceAlias' 

      # auth_names
      auth_names = opts[:auth_names] || ['IAM']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ResourceAliasesApi#update_resource_alias\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
